/* DOCUMENT INFORMATION
- Dcument:                  Site ARB-Perfomances
- Version:                  1.0.0
- Author:                   Romain MIRIAL
*/

/* COLORS
- Default body text:        black
- h1                        #020753 
- h2                        #020753
- h3                        #020753
- h4                        #020753
- h5                        #ffffff
- h6                        #ffffff

- Button                    #01015f
- Button font               #ffffff

- Button: hover             #01015f
- Button: hover font        #f11212
*/

/* FONTS

- Default:              'Yusei Magic', sans-serif               

*/

/* CSS DIRECTORY
1. GLOBAL
2. RESPONSIVE DESKTOP
3. HEADER DESKTOP
4. COURSE DESKTOP
5. ACTU DESKTOP
6. SOCIAL DESKTOP
7. PARTENAIRES DESKTOP
8. TEAM DESKTOP
9. MOTO DESKTOP
10. GALERIE DESKTOP
11. BOUTIQUE DESKTOP
12. SPONSORS FOOTER DESKTOP
13. FOOTER DESKTOP

*/


/* GLOBAL
===================================*/
.body {
    font-family: 'Yusei Magic', sans-serif;
}

h1{
    margin-top: 0%;
    padding-top: 1%;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-style: italic;
    font-size: 350%;
    text-align: center;
}

h2,
h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Yusei Magic', sans-serif;
    color: #020753;
}

h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    font-family: 'Yusei Magic', sans-serif;
    color: #020753;
}

h5 {
    text-align: center;
    font-size: 18px;
    font-family: 'Yusei Magic', sans-serif;
    color: #ffffff;
}

h6 {
    text-align: center;
    font-size: 14px;
    font-family: 'Yusei Magic', sans-serif;
    color: #ffffff;
}

#texte_p {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 180%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

    /* HEADER DESKTOP
========================================*/

    #navbar{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    .header {
        background-color: white;
    }

    .logo img {
        width: 20%;
    }

    .logo:after {
        display: block;
        height: 2px;
        background-color: #ff0101;
        width: 100%;
        content: " ";
        margin: 0 auto;
        margin-top: 0 auto;
    }

    #menu {
        background-color: #030f53;
        display: flex;
        justify-content: center;
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-weight: 600;
        font-size: 150%;
        }

    nav ul li {
        float: left;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    nav ul li a {
        display: block;
        width: auto;
        line-height: 20px;
        color: #c7c7c7;
        text-decoration: none;
        text-align: center;
        font-size: 110%;
    }

    ul li a:hover {
        color: #d64040;
        border-radius: 2px;
    }

    .stop-float {
        clear: both;
    }

    #menuToggle input {
        display: none;
    }

     /* ACCUEIL
==================================*/

    #accueil{
        height: 100vh;
        background-image: url(../ressources/images/Banque_images/12hMC/12HMC4.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 8%;
    }

    /* COURSE DESKTOP
==================================*/

#calendrier{
    padding-top: 8%;
    background-image: url(../ressources/images/Banque_images/Divers_paysage/BRC.jpg);
        background-size: cover;
        background-position: center;
}

    .course {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
        height: 230px;
        background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(100, 100, 100));
        border: solid;
        border-color: #000000;
    }

    .compte_a_rebours_participe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 90%;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 180%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .compte_a_rebours_participe strong {
        color: #ff0101;
    }

    .btn {
        display: block;
        font-size: 15px;
        width: 200px;
        height: 40px;
        background-color: rgb(1, 1, 95);
        color: rgb(255, 255, 255);
        font-family: 'Yusei Magic', sans-serif;
    }
        
    .btn:hover {
        display: block;
        background-color: rgb(1, 1, 95);
        color: rgb(241, 18, 18);
    }

    .tracks {
        height: 80%;
    }

    .logo_course {
        height: 30%;
    }

    /* ACTU DESKTOP
==================================*/

#actualite{
    padding-top: 8%;
}

    .actu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 230px;
        background-color: #ffffff;
        border: solid;
        border-color: #000000;
    }

    .actu1 {
        background-image: url(../ressources/images/Banque_images/Divers_pilote/arb-ju2.jpg);
        background-size: 100%;
        background-position: center;
    }

    .actu2 {
        background-image: url(../ressources/images/Banque_images/Divers_paysage/BRC.jpg);
        background-size: 100%;
        background-position: center;
    }

    .actu h4 {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 3px rgb(144, 0, 0);
        font-size: x-large;
        margin-top: 1%;
    }

    .actu p {
        font-family: 'Yusei Magic', sans-serif;
        font-size: 180%;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 3px rgb(8, 8, 8);
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    .plus_actu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trait_G {
        display: block;
        height: 4px;
        background-color: #ff0101;
        width: 100%;
        content: " ";
        margin: 0 auto;
        margin-top: 5%;
    }

    .trait_D {
        display: block;
        height: 4px;
        background-color: #ff0101;
        width: 100%;
        content: " ";
        margin: 0 auto;
        margin-top: 5%;
    }

    .btn2 {
        width: 30%;
        height: 20%;
        margin-top: 5%;
    }

    /* SOCIAL DESKTOP
==================================*/

    .social {
        border: solid;
        border-color: rgb(1, 3, 80);
        background: linear-gradient(0deg, rgb(1, 3, 80) 10%, rgb(255, 255, 255) 100%);
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .logo_reseaux_sociaux {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.facebook a {
        display: block;
        width: 100px;
    }

    div.instagram a {
        display: block;
        width: 100px;
    }

    div.separator {
        margin-left: 10%;
        margin-right: 10%;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: large;
        color: #000000;
    }

    .contact-form input {
        margin-left: 2%;
        margin-right: 2%;
    }

    .contact-form button {
        width: 7%;
        height: 5%;
    }

    /* PARTENAIRES DESKTOP
==================================*/

    .tableau_partenaire {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 200%;
        color: rgb(223, 223, 223);
        margin-bottom: 10%;
    }

    table {
        background-color: #2f2f2f;
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
    }

    td {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px 20px;
    }

    .logo_sponsors img {
        width: 100%;
        height: auto;
    }

    /* TEAM DESKTOP
==================================*/

    .Presentation_pilote {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .Pilote {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: auto;
        width: 500px;
        background-color: #ffffff;
        border: solid;
        border-color: #000000;
    }

    .Pilote p {
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
        font-size: 180%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .Pilote img {
        border-radius: 30%;
        margin-top: 1%;
        width: 70%;
    }

    .nos_adhérent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Presentation_Adherents {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .Adherent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: auto;
        width: 200px;
        background-color: #b9b9b9;
        border: solid;
        border-color: #000000;
    }

    .Adherent img {
        border-radius: 30%;
        margin-top: 1%;
        width: 70%;
    }

    .Adherent p {
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
        font-size: 160%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    /* MOTO DESKTOP
==================================*/

    .moto_photo {
        display: flex;
        justify-content: center;
    }

    .moto_photo img {
        width: 60%;
        height: auto;
    }

    /* GALERIE DESKTOP
==================================*/

    #Carousel .container {
        margin-bottom: 5%;
    }

    /* ADHESIONS DESKTOP
==================================*/

    #adhesion{
        padding-top: 8%;
    }

    /* BOUTIQUE DESKTOP
==================================*/

    .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
        height: 350px;
        background-color: #aaaaaa;
        border: solid;
        border-color: #000000;
    }

    .Description_produit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 180%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .Description_produit h5 {
        margin-bottom: 10%;
    }

    .boutton_produit {
        display: flex;
        flex-direction: column;
        margin-right: 3%;
        width: 15%;
    }

    #Quantité {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .image_produit {
        margin-left: 3%;
    }

        /* CONTACT DESKTOP
==================================*/

#formulaire_participe{
    height: 100vh;
    background-image: url(../ressources/images/Banque_images/12hMC/12HMC3.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 8%;
}

    #formulaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 120%;
    }

    .contact-form1{
        display:flex;
        flex-direction: column;
    }

    .contact-form1 input{
        width: 250px;
        height: 40px;
        border-radius: 5%;
        font-size: 130%;
    }

    .contact-form1 label{
        font-size: 150%;
        color: #020753;
    }

    .contact-form1 textarea{
        width: 500px;
        height: 100px;
        font-size: 130%;
    }



    /* SPONSORS FOOTER DESKTOP
==================================*/

    #sponsors_logo {
        margin-top: 0%;
        margin-bottom: 3%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #sponsors_logo img {
        width: 8%;
        height: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    /* FOOTER DESKTOP
========================================*/

    #footer {
        display: flex;
        justify-content: center;

        align-self: center;
        flex-direction: column;
        background-color: #000000;
        height: 100px;
    }

