/* DOCUMENT INFORMATION
- Dcument:                  Site ARB-Perfomances
- Version:                  1.0.0
- Author:                   Romain MIRIAL
*/

/* COLORS
- Default body text:        black
- h1                        #020753 
- h2                        #020753
- h3                        #020753
- h4                        #020753
- h5                        #ffffff
- h6                        #ffffff

- Button                    #01015f
- Button font               #ffffff

- Button: hover             #01015f
- Button: hover font        #f11212
*/

/* FONTS

- Default:              'Yusei Magic', sans-serif               

*/

/* CSS DIRECTORY
1. RESPONSIVE TABLETTE
2. GLOBAL TABLETTE
3. HEADER TABLETTE
4. COURSE TABLETTE
5. ACTU TABLETTE
6. SOCIAL TABLETTE
7. PARTENAIRES TABLETTE
8. TEAM TABLETTE
9. MOTO TABLETTE
10. GALERIE TABLETTE
11. BOUTIQUE TABLETTE
12. SPONSORS FOOTER TABLETTE
13. FOOTER TABLETTE

*/

/* RESPONSIVE TABLETTE
=========================================*/

* {
    box-sizing: border-box;
}

@media only screen and (min-width:700px) {

    /* GLOBAL TABLETTE
===================================*/
    .body {
        font-family: 'Yusei Magic', sans-serif;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        font-size: 25px;
        margin-top: 3%;
        margin-bottom: 3%;
        font-family: 'Yusei Magic', sans-serif;
        color: #020753;
    }

    h4 {
        text-align: center;
        font-size: 25px;
        margin-top: 3%;
        font-family: 'Yusei Magic', sans-serif;
        color: #020753;
    }

    h5 {
        text-align: center;
        font-size: 18px;
        font-family: 'Yusei Magic', sans-serif;
        color: #ffffff;
    }

    h6 {
        text-align: center;
        font-size: 14px;
        font-family: 'Yusei Magic', sans-serif;
        color: #ffffff;
    }

    /* HEADER TABLETTE
========================================*/

    .header {
        background-color: white;
    }

    .logo img {
        width: 20%;
    }

    .logo:after {
        display: block;
        height: 2px;
        background-color: #ff0101;
        width: 100%;
        content: " ";
        margin: 0 auto;
        margin-top: 0 auto;
    }

    #menu {
        background-color: #030f53;
        display: flex;
        justify-content: center;
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-weight: 600;
        font-size: 100%;
    }

    nav ul li {
        float: left;
        padding: 10px;
        text-align: center;
    }

    nav ul li a {
        display: block;
        width: auto;
        line-height: 20px;
        color: #c7c7c7;
        text-decoration: none;
        text-align: center;
    }

    ul li a:hover {
        color: #d64040;
        border-radius: 2px;
    }

    .stop-float {
        clear: both;
    }

    #menuToggle input {
        display: none;
    }

    /* COURSE TABLETTE
==================================*/

    .course {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 5%;
        height: 250px;
        background-color: #aaaaaa;
        border: solid;
        border-color: #000000;
    }

    .compte_a_rebours_participe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 90%;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 150%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .compte_a_rebours_participe strong {
        color: #ff0101;
    }

    .btn {
        display: block;
        font-size: 15px;
        width: 200px;
        height: 40px;
        background-color: rgb(1, 1, 95);
        color: rgb(255, 255, 255);
        font-family: 'Yusei Magic', sans-serif;
    }

    .btn:hover {
        display: block;
        background-color: rgb(1, 1, 95);
        color: rgb(241, 18, 18);
    }

    .tracks {
        height: 70%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .logo_course {
        height: 30%;
        margin-right: 1%;
        margin-left: 1%;
    }

    /* ACTU TABLETTE
==================================*/

    .actu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 250px;
        background-color: #ffffff;
        border: solid;
        border-color: #000000;
    }

    .actu1 {
        background-image: url(../ressources/images/Banque_images/Divers_pilote/arb-ju2.jpg);
        background-size: 100%;
        background-position: center;
    }

    .actu2 {
        background-image: url(../ressources/images/Banque_images/Divers_paysage/BRC.jpg);
        background-size: 100%;
        background-position: center;
    }

    .actu h4 {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 3px rgb(144, 0, 0);
        font-size: x-large;
        margin-top: 1%;
    }

    .actu p {
        font-family: 'Yusei Magic', sans-serif;
        font-size: 180%;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 3px rgb(8, 8, 8);
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    .plus_actu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .trait_G {
        display: block;
        height: 4px;
        background-color: #ff0101;
        width: 100%;
        content: " ";
        margin: 0 auto;
        margin-top: 5%;
    }

    .trait_D {
        display: block;
        height: 4px;
        background-color: #ff0101;
        width: 100%;
        content: " ";
        margin: 0 auto;
        margin-top: 5%;
    }

    .btn2 {
        width: 30%;
        height: 20%;
        margin-top: 5%;
    }

    /* SOCIAL TABLETTE
==================================*/

    .social {
        border: solid;
        border-color: #010350;
        background: linear-gradient(0deg, rgb(1, 3, 80) 10%, rgb(255, 255, 255) 100%);
        margin-top: 8%;
        margin-bottom: 6%;
    }

    .logo_reseaux_sociaux {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.facebook a {
        display: block;
        width: 100px;
    }

    div.instagram a {
        display: block;
        width: 100px;
    }

    div.separator {
        margin-left: 10%;
        margin-right: 10%;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: large;
        color: #000000;
    }

    .contact-form input {
        margin-left: 2%;
        margin-right: 2%;
    }

    .contact-form button {
        width: 7%;
        height: 5%;
    }

    /* PARTENAIRES TABLETTE
==================================*/

    #partenaire_p {
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
        font-size: 160%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    .tableau_partenaire {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 160%;
        color: rgb(223, 223, 223);
        margin-bottom: 10%;
        margin-left: 2%;
        margin-right: 2%;
    }

    table {
        background-color: #2f2f2f;
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
    }

    td {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px 20px;
    }

    .logo_sponsors img {
        width: 100%;
        height: auto;
    }

    /* TEAM TABLETTE
==================================*/

    #team_p {
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
        font-size: 150%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .Presentation_pilote {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .Pilote {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: auto;
        width: 400px;
        background-color: #ffffff;
        border: solid;
        border-color: #000000;
    }

    .Pilote p {
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
        font-size: 150%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .Pilote img {
        border-radius: 30%;
        margin-top: 1%;
        width: 80%;
    }

    .nos_adhérent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Presentation_Adherents {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .Adherent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        height: auto;
        width: 150px;
        background-color: #b9b9b9;
        border: solid;
        border-color: #000000;
    }

    .Adherent img {
        border-radius: 30%;
        margin-top: 1%;
        width: 70%;
    }

    .Adherent p {
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
        font-size: 150%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    /* MOTO TABLETTE
==================================*/

    .moto_photo {
        display: flex;
        justify-content: center;
    }

    .moto_photo img {
        width: 70%;
        height: auto;
    }

    /* GALERIE TABLETTE
==================================*/

    #Carousel .container {
        margin-bottom: 3%;
    }

    /* BOUTIQUE TABLETTE
==================================*/

    .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 5%;
        height: 350px;
        background-color: #aaaaaa;
        border: solid;
        border-color: #000000;
    }

    .Description_produit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 140%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 3%;
        margin-right: 3%;
    }


    .Description_produit h5 {
        margin-bottom: 10%;
    }

    .boutton_produit {
        display: flex;
        flex-direction: column;
        margin-right: 1%;
    }

    #Quantité {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .image_produit {
        margin-left: 2%;
    }

    /* SPONSORS FOOTER TABLETTE
==================================*/

    #sponsors_logo {
        margin-top: 3%;
        margin-bottom: 3%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    #sponsors_logo img {
        width: 8%;
        height: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    /* FOOTER TABLETTE
========================================*/

    #footer {
        display: flex;
        justify-content: center;

        align-self: center;
        flex-direction: column;
        background-color: #000000;
        height: 100px;
    }

}