/* DOCUMENT INFORMATION
- Dcument:                  Site ARB-Perfomances
- Version:                  1.0.0
- Author:                   Romain MIRIAL
*/

/* COLORS
- Default body text:        black
- h1                        #020753 
- h2                        #020753
- h3                        #020753
- h4                        #020753
- h5                        #ffffff
- h6                        #ffffff

- Button                    #01015f
- Button font               #ffffff

- Button: hover             #01015f
- Button: hover font        #f11212
*/

/* FONTS

- Default:              'Yusei Magic', sans-serif               

*/

/* CSS DIRECTORY
1. GLOBAL
2. GLOBAL MOBILE
3. HEADER MOBILE
4. COURSE MOBILE
5. ACTU MOBILE
6. SOCIAL MOBILE
7. PARTENAIRES MOBILE
8. TEAM MOBILE
9. MOTO MOBILE
10. GALERIE MOBILE
11. BOUTIQUE MOBILE
12. SPONSORS FOOTER MOBILE
13. FOOTER MOBILE

*/

/* GLOBAL
===================================*/
.body {
    font-family: 'Yusei Magic', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Yusei Magic', sans-serif;
    color: #020753;
}

h5 {
    text-align: center;
    font-size: 18px;
    font-family: 'Yusei Magic', sans-serif;
    color: #ffffff;
}

h6 {
    text-align: center;
    font-size: 14px;
    font-family: 'Yusei Magic', sans-serif;
    color: #ffffff;
}

/* GLOBAL MOBILE
===================================*/
